*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.contner{
     width: 100vw;
      height: 100vh;
      background-color: #f0f4f5;


}


/* head section */


.header{
    display: flex;
     align-items: center;
     justify-content: space-around;
     

}

.header img{
    width: 200px;
    margin-right: 300px;
    
}

.header ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    
    width: 30%;
    font-size: larger;
    font-weight: 600;
}

.header ul a{
    text-decoration: none;

    
}


/* all text */

.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    height: 100vh;

    
}


/* left section */

.left-sec{
    display: flex;
    flex-direction: column;
    margin-left: 18s0px;
    height: 100%;
    justify-content: center;
    gap: 20px;
    


}

.left-sec h1{
    font-size: 50px;
    font-weight: 800;
}

.left-sec p{
    font-size: large;
    letter-spacing: 1px;
    font-weight: 500;
}

.ls-img1{
    width: 20px;
}



.btn-image{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.btn-image button{
    color: white;
    background-color: rgb(18, 187, 122);
    border: none;
    padding: 15px 40px;
    border-radius: 30px;
    font-size: larger;
    font-weight: 700;
}

.ls-img2{
    width: 20px;
    padding-bottom: 40px;
}
.ls-img1{
    width: 20px;
}

.back-photo{
    width: 400px;
    margin-top: -400px;

}

/* right section */

.right-sec {
   
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    
}

.doctor-img{
    width: 500px;
   margin-top: -40px;

}

.green-img{
    width: 440px;
    margin-bottom: -590px;
    
}

.yellow-img{
    width: 450px;
    margin-bottom: -500px;
    margin-left: 50px;
    

}