*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

   
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vw;
    padding: 0px 80px;
    background-color:  rgb(170, 163, 163);
}

.container{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    
    
    
}

/* top section */
.Beats{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    
    
    


    
}

.head-sec1 {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    
    width: 100%;
    
}

.logo1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.list{
    display:flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    

    
}
.list1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: large;
    font-weight: 700;
    color: white;
}
.btn1{
    padding: 7px 30px;
    font-size: large;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: rgb(41, 41, 41);
    box-shadow: -2px -2px 2px rgb(56, 56, 56);
}

/* photo1,text */

.head-sec2{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    gap: 100px;
    
    
}

.sp1{
   width:  250px ;
    margin-top: -200px;

}


.details{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 80px;
    justify-content: center;
    gap: 20px;
    
    

}


.text1{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
}
.details h1{
    font-weight: 800;
    font-size: 60px;
}
.details h4{
    font-weight: 600;
    font-size: 25px;
}
.pera1{
    font-weight: 300;
    font-size: 20px;
    gap: 8px;
}

/* beg button */
.beg{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 7px;
    margin: 5px;
    border: none;
    background-color: rgb(41, 41, 41);
    border-radius: 10px;
    
    
}
.beg img{
    background-color: rgb(41, 41, 41);
}

.beg h5{
    
    font-weight: 600;
    font-size: large;
    color: white;
    background-color: rgb(41, 41, 41);
}
.beg h4{
    color: white;
    background-color: rgb(41, 41, 41);

}

.logoes{
    display: flex;
    align-items: center;
    justify-content:center;
    
    color: white;
    padding-top: 80px;
    
    width: 100%;
    gap: 60px;

}

.logo {
    height:30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}




/* specs section */

.specs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
    
    
    padding: 90px 0px;
}

.specsimg1{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.specs-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 4 img and text */
.specs-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: white;
    gap: 25px;
    
}

.specs-item1{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
   padding: 10px 30px;
   gap: 5px;
}

.specs-item1 img{
    width: 20px;
}

.specs-item2{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    



}

.specs-item2 img{
    width: 20px;
}

.specs-item1 p ,.specs-item2 p {
    
    font-size: 17px;
    font-weight: 200;

}

.specsimg2 {
    width: 300px;
    padding-left: 30px;
    
}


/* case section */


.case{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    
}

.case-imge{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 250px;
    padding-top: 50px;
    
}

.case-part{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    padding: 50px;

}
.mouse{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.case-pg{
    font-size: larger;
    font-weight: 550;
   display: flex;
   flex-direction: column;
    gap: 40px;
    color: white;
    

}
.case-pg p{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.case-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
   padding: 13px;
   border: none;
   border-radius: 10px;
   background-color: rgb(41, 41, 41);

}
.case-btn img{
    background-color: rgb(41, 41, 41);
}
.case-btn h3{
    background-color: rgb(41, 41, 41);
    color: white;

}


/* case section se just buttum */

.card{
    width: 1000px;
    height: 350px;
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    border-radius: 15px


}


.card-sec h2{
    font-size: x-large;
    color: aliceblue;


}
.card-sec p {
 padding: 20px 0px;
 font-weight:400;
 font-size: large;
 color: aliceblue;

}

.card-sec button {
    display: flex;
    background-color: black;
    color: aliceblue;
    padding: 12px 20px;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: none;
    border-radius: 15px;

    
    
}


.card-img2{
    width: 400px;
   
}

/* choose your style */
.cys{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;

}

.cys-photo{
    width: 320px;
    padding: 40px;


}

.cys-card{
    display: flex;
    justify-content: center;
    
    width: 100%;
    color: aliceblue;

}

.cys-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    
    
    
}
.cys-2{
     display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    padding-right: 190px;

}

.cys-box{
    height: 170px;
    width: 180px;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 40px;
    border-radius: 15px;
    
    
}



.cys-sp{
    width: 100px;
    margin-top: -80px;

}

.cys-all{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    margin-bottom: -20px;
    
}
.cys-pera{
    font-size: large;
    font-weight: 600;
    
    
}

.cys-shop{
    background-color:  rgb(12, 12, 12);
    padding: 6px;
    border-radius: 10px;
}


/* footer section */

.foot{
    display: flex;
     
    justify-content: space-between;
    height: 100%;
    width: 1000px;
    
    color: aliceblue;
    margin: 70px 0px;


}

.foot-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

  /* footer 1st list */

  .foot-list{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 7px;
    font-size: 17px;
    font-weight: 600;

    
    

  }
  a{
    text-decoration: none;
    color: aliceblue;
  }

  .foot-list li:first-child {
    font-size: x-large;
    margin-bottom: 10px;
    padding: 10px;
  }

  .foot-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

  }
  .foot-btn{
    display: flex;
    background-color: rgb(41, 41, 41);
    border: none;
    padding: 9px 17px;
    border-radius: 15px;

  }

  .foot-btn input {
    background-color: rgb(41, 41, 41);
    border: none;
    font-size: 17px;

  }

  .foot-sub{
    display: flex;
    justify-content: space-around;
    padding: 10px 30px;
    background-color: rgb(3, 3, 3);
    align-items: center;
    border-radius: 10px;
    gap: 20px;
    
  }

  .foot-icon{
    display: flex;
    font-size: x-large;
    gap: 50px;
    list-style: none;
    width: 100%;
    

  }

  .foot-icon li{
    background-color:rgb(41, 41, 41) ;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 10px;
    border-radius: 6px;
  }

  .foot-uparrow{
    background-color: rgb(41, 41, 41);
    height: fit-content;
  }
  
